.CreateItem {
  display: flex;
}

.CreateItem-input {
  flex: 2;
  height: 40px;
  font-size: 20px;
  border-radius: 40px;
  padding: 0 5px;
}
.CreateItem-button {
  flex: 1;
  height: 46px;
  font-size: 20px;
}
