body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  padding: 20px;
}

.button-container {
  width: 100vw;
  text-align: center;
}
button {
  width: 250px;
  height: 100px;
  font-size: 30px;
}

.counter-value {
  width: 100vw;
  text-align: center;
  font-size: 50px;
}
